<h3 style="margin-top: 50px;margin-bottom:40px;text-align: center;">
    <span class="title_main">
        Chỉnh sửa bài viết
    </span>
</h3>

<%= render 'form', blog: @blog %>

<%= link_to '', @blog %> |
<%= link_to '', blogs_path %>
