<style type="text/css">
	.title-cntt{
	font-weight: bold;
    border-top: 3px solid #bada55;
    border-bottom: 3px solid #bada55;
    padding: .5rem;
	}
</style>
<h1 style="margin-top:50px;text-align: center;margin-bottom: 50px">
	<span class="title-cntt">Tạo bài viết</span>
</h1>

<%= render 'form', blog: @blog %>

