
<h3 style="margin-top: 50px;margin-bottom:40px;text-align: center;">
    <span class="title_main">
        Chỉnh sửa bình luận
    </span>
</h3>

<%= render 'form', comment: @comment %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
