	<footer class="container_fluid" >
		<div class="">
			<h4 class="col-sm-12">
				Trang web là nơi mọi người cùng nhau chia sẻ những kinh nghiệm lập trình 
			</h4>
			<hr />
				<div class="row" style="width:100%">
					<div class="col-sm-6" align="right">
						<div style="width:100%;float:right; ">
							<a>Email: blogLaptring@mail.com</a>
						</div>
					</div>
					<div class="col-sm-6" align="left">
						<div style="width:100%; float:left;">
						<%= link_to 'Facebook: https://facebook.com/blog_laptrinh', "https://facebook.com" %>
							
						</div>
					</div>
				</div>
			
			

			
		</div>
	</footer>