<!DOCTYPE html>
<html>
  	<head>
    	<title>CuoiKy</title>
    	<meta name="viewport" content="width=device-width,initial-scale=1">
  
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   	 	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  	</head>

  <body>
	
		<div class="container" align="center">
			<div class="row card_item">
					<div class="col-lg-5">
						<div class="main_img">
							<img src="https://codelearn.io/Upload/Blog/cpu-mang-hoc-sau-nhanh-gap-15-lan-gpu-63753709737.0559.jpg" width="100%" height="220px">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="title">
							<h4> Java và Hướng đối tượng </h4>
						</div>
						<div class="detail">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nisi ea, cupiditate expedita nostrum dolorem tempore nemo iste odit, architecto ducimus! Consequatur suscipit dolores iste voluptatem sint corrupti saepe cupiditate!
						</div>
						<div class="card_footer">
							<span class="author">Tác giả: <i>Nguyễn Sơn Hải</i> </span>
							<span class="create_at">12/12/2002</span>
								
						</div>
					</div>
			
			</div>
			<div class="row card_item">
					<div class="col-lg-5">
						<div class="main_img">
							<img src="https://codelearn.io/Upload/Blog/cpu-mang-hoc-sau-nhanh-gap-15-lan-gpu-63753709737.0559.jpg" width="100%" height="220px">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="title">
							<h4> Java và Hướng đối tượng </h4>
						</div>
						<div class="detail">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nisi ea, cupiditate expedita nostrum dolorem tempore nemo iste odit, architecto ducimus! Consequatur suscipit dolores iste voluptatem sint corrupti saepe cupiditate!</p>
							
						</div>
						<div class="card_footer">
							<span class="author">Tác giả: <i>Nguyễn Sơn Hải</i> </span>
							<span class="create_at">12/12/2002</span>
						</div>
						
					</div>
			
			</div>
			<div class="row card_item">
					<div class="col-lg-5">
						<div class="main_img">
							<img src="https://codelearn.io/Upload/Blog/cpu-mang-hoc-sau-nhanh-gap-15-lan-gpu-63753709737.0559.jpg" width="100%" height="220px">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="title">
							<h4> Java và Hướng đối tượng </h4>
						</div>
						<div class="detail">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nisi ea, cupiditate expedita nostrum dolorem tempore nemo iste odit, architecto ducimus! Consequatur suscipit dolores iste voluptatem sint corrupti saepe cupiditate!
						</div>
						<div class="card_footer">
							<span class="author">Tác giả: <i>Nguyễn Sơn Hải</i> </span>
							<span class="create_at">12/12/2002</span>
						</div>
					</div>

			
			</div>
		
		</div>

	<%# phần mới nhất   %>
		<div class="container" style="width:81%">
			<h3 class="title_main">MỚi CẬP NHẬT:  </h3>
			<div class="row ">
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="col-sm-12 cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/can-bang-phuong-trinh-hoa-hoc-bang-cpp-63752466266.5863.jpg" width="100%" height="220px">
						</div>
						<div class="col-sm-12 cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="col-sm-12 card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class=" col-sm-12 cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/thuat-toan-chuoi-nhi-phan-do-dai-n-63752797017.7959.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/fron-end-hay-back-end-chon-cai-nao-63751982538.0982.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>				
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/thuat-toan-chuoi-nhi-phan-do-dai-n-63752797017.7959.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/thuat-toan-chuoi-nhi-phan-do-dai-n-63752797017.7959.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/thuat-toan-chuoi-nhi-phan-do-dai-n-63752797017.7959.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>				
				
			
			</div>
		</div>
<%# =------------------ %>
	<%# phần Phổ biến nhất   %>
		<div class="container" style="width:81%">
			<h3 class="title_main">PHỔ BIẾN:  </h3>
			<div class="row ">
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="col-sm-12 cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/can-bang-phuong-trinh-hoa-hoc-bang-cpp-63752466266.5863.jpg" width="100%" height="220px">
						</div>
						<div class="col-sm-12 cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="col-sm-12 card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class=" col-sm-12 cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/thuat-toan-chuoi-nhi-phan-do-dai-n-63752797017.7959.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/fron-end-hay-back-end-chon-cai-nao-63751982538.0982.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>				
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/thuat-toan-chuoi-nhi-phan-do-dai-n-63752797017.7959.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/thuat-toan-chuoi-nhi-phan-do-dai-n-63752797017.7959.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="cardBlog_img">
							<img src="https://codelearn.io/Upload/Blog/thuat-toan-chuoi-nhi-phan-do-dai-n-63752797017.7959.jpg" width="100%" height="220px">
						</div>
						<div class="cardBolg_body">
							<p class="cardblog_title"> Thuật toán đưa ra chuỗi nhị phân </p>
							<span class="cardBlog_detail">  Lorem ipsum dolor sit ametjflasdfjalsfdj asldf jlas f.....</span>
							<div class="row">
								<div class="card_danhmuc">
									<span class="card_titleDanhmuc">Thuật toán </span>
									<span class="card_titleDanhmuc"> Java </span>
									<span class="card_titleDanhmuc"> C </span>
								</div>
							</div>
						</div>
						<div class="cardBlog_footer">
							<hr/>
							<span class="author"> Cáp Văn Đức </span>
							<span class="create_at"> 21/05/2001 </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>				
				
			
			</div>
		</div>
</body>
</html>

