<!DOCTYPE html>
<html>
  	<head>
    	<title>CuoiKy</title>
    	<meta name="viewport" content="width=device-width,initial-scale=1">
  

    	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   	 	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    	
  	</head>

  <body>

		
		
		<div class="container">
			<div class="row">
				
					<div class="col-sm-4">
						<div class="main_img">
							<img src="https://codelearn.io/Upload/Blog/cpu-mang-hoc-sau-nhanh-gap-15-lan-gpu-63753709737.0559.jpg" width="100%">
						</div>
					</div>
					<div class="col-sm-8">
						<div class="title">
							<h4> Java và Hướng đối tượng </h4>
						</div>
						<div class="detail">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nisi ea, cupiditate expedita nostrum dolorem tempore nemo iste odit, architecto ducimus! Consequatur suscipit dolores iste voluptatem sint corrupti saepe cupiditate!
						</div>
					</div>
			
			</div>
		</div>
        
</body>
</html>

