<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <!-- Content -->
                        <%#= render 'user/index' %>         
                    <%# </div>
                </main>
            </div> %>