/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .title_menu{
    margin-left: 100px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    color: #4b5057;
}
.btn_login{
    border-radius: 5px;
    margin-top: 5px;
    height: 40px;
    margin-right:10px; 
   
}
.btn_register{
    border-radius: 5px;
    margin-top: 5px;
    height: 40px;
    margin-right: 100px;
}
footer{
    height:200px ;
    box-shadow: 0 2px 10px 0 rgb(188 188 188 / 50%);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: blueviolet;
 }
