// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post{
    border: #dcdcdc solid ;
    padding:10px; 
    width: 100%;

}
.post-content img {
    width:100% ;
}
.card-user{
    border:#dcdcdc solid;
    width: 100%;
    height: 500px;
}