<h3 style="margin-top: 50px;margin-bottom:40px;text-align: center;">
    <span class="title_main">
        Sửa danh mục
    </span>
</h3>

<%= render 'form', category: @category %>

<%= link_to '', @category %> |
<%= link_to '', categories_path %>
