<h3 style="margin-top: 50px;margin-bottom:40px;text-align: center;">
    <span class="title_main">
        Thêm danh mục
    </span>
</h3>

<%= render 'form', category: @category %>

<%= link_to 'Back', categories_path %>
